<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Administrador Scrum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
  </head>
  <body>
    <header id="header-espera">
      <a class="link-home" href="/"><img src="../static/assets/Home.png" /></a>
      <div class="links_header">
        <a href="/adminscrum">Gerenciamento de Equipes</a>
      </div>
    </header>

    <main class="main-espera">
      <nav class="nav-espera">
          <h1>Gerenciamento Scrum</h1>
          <button id="btn_enviar">Cadastrar Equipe</button>
      </nav>
    </main>
<main class="gestao-main">
    <table>
        {% for equipe, integrantes in equipes.items() %}
        <thead>
            <tr>
            <th >{{ equipe }}</th>
            </tr>
        </thead>
        <tbody>
            {% for integrante in integrantes %}
            <tr>
                <td>{{ integrante }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</main>
      

    <script src="../static/scripts/index.js"></script>
  </body>
</html>
