<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Equipe</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <br /><br /><br />
    <button id="btn_equipe_modal" class="visualizar-button">
      Cadastrar Equipe
    </button>

    <dialog id="meuModal" class="modal">
      <article class="modal-conteudo">
        <div><br /><br /></div>
        <section>
          <img
            onclick="closeCadastroModal()"
            class="close_button"
            src="../static/assets/close.png"
            alt="Botão Fechar"
          />
          <form method="POST">
            <div class="inputNomeN">
              <div>
                <label>Nome da Equipe:</label>
                <input type="text" name="nome_equipe" value="" required />
              </div>

              <div>
                <label>Nº de Integrantes:</label>
                <input
                  type="number"
                  class="no-spinBox"
                  id="inputNIn"
                  name="num_integrantes"
                  min="5"
                  max="9"
                  value=""
                  required
                />
              </div>
            </div>

            <section
              class="input1"
              id="campos_integrantes"
              style="margin-bottom: 12px"
            ></section>

            <input
              type="submit"
              value="Cadastrar Equipe"
              class="submitBtnCadastro"
            />
          </form>
        </section>
      </article>
    </dialog>

    <script src="../static/scripts/index.js"></script>
    <script src="../static/scripts/cadastroEquipes.js"></script>
  </body>
</html>
