<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
    <title>Exibição do Arquivo</title>
  </head>
  <body>
    <header id="header-espera">
      <a class="link-home" href="/"><img src="../static/assets/Home.png" /></a>
      <div class="links_header">
        <a href="/formAtestado">Enviar Atestado</a>
        <button id="btn_buscar">Procurar Atestado</button>
      </div>
    </header>

    <main class="main-espera">
      <nav class="nav-espera">
        <h1>Histórico de Atestados</h1>
        <button id="btn_enviar">Enviar Atestado</button>
      </nav>
      <section class="informacoes">
        <p>Validade</p>
        <p>Nome do Aluno</p>
        <p>Status</p>
      </section>
      {% for atestado in atestados %}
      <section class="dados_aluno">
        <p>{{ atestado['Data Final'] }}</p>
        <p>{{ atestado['Nome'] }}</p>
        <p>{{ atestado['Status'] }}</p>
      </section>

      <!-- <p><strong>RA do aluno:</strong> {{ atestado['RA do aluno'] }}</p> -->
      <!-- <p><strong>Data Inicial:</strong> {{ atestado['Data Inicial'] }}</p> -->
      <!-- <p><strong>Motivo:</strong> {{ atestado['Motivo'] }}</p> -->
      <!-- <p><strong>Arquivo:</strong> <a href="{{ atestado['Arquivo'] }}" target="_blank">Atestado</a></p> -->
      {% endfor %}
    </main>

    <dialog id="modal" style="height: 120px; width: 400px">
      <img
        class="close_button"
        id="close_modal"
        src="../static/assets/close.png"
        alt="Botão Fechar"
      />
      <div style="position: relative; display: flex; align-items: center">
        <label style="margin-left: 40px">RA:</label>
        <label style="margin-left: 110px">Status: </label>
      </div>
      <form
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        "
      >
        <div style="position: relative; display: flex; align-items: center">
          <input
            type="text"
            id="inp_RA"
            style="padding-right: 30px; width: 150px"
          />
          <img
            id="search-atestado"
            src="../static/assets/icone-loupe-gris.png"
            style="
              position: absolute;
              right: 10px;
              height: 15px;
              width: 15px;
              cursor: pointer;
            "
          />
        </div>
        <input
          type="text"
          id="inp_Status"
          style="width: 140px; height: 35px"
          disabled="true"
        />
      </form>
    </dialog>

    <script src="../static/scripts/index.js"></script>
    <script>
      document
        .getElementById("search-atestado")
        .addEventListener("click", () => {
          RA = document.getElementById("inp_RA").value;
          if (RA != "") {
            fetch(`/buscar-atestado?RA=${encodeURIComponent(RA)}`)
              .then((response) => response.json())
              .then((data) => {
                document.getElementById("inp_Status").value = data.status;
              });
          }
        });
    </script>
  </body>
</html>
