<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/DevForgePNG.ico">
    <title>Envio de Atestado Médico</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Envio de Atestado Médico</h2>
    <form action="/enviar" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Estudante</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="RA" class="form-label">RA do aluno</label>
            <input type="number" class="form-control" id="RA" name="RA" required>
        </div>
        <div class="mb-3">
            <label for="data_i" class="form-label">Data do Atestado (início)</label>
            <input type="date" class="form-control" id="data_i" name="data_i" required>
        </div>
        <div class="mb-3">
            <label for="data_f" class="form-label">Data do Atestado (fim)</label>
            <input type="date" class="form-control" id="data_f" name="data_f" required>
        </div>
        <div class="mb-3">
            <label for="motivo" class="form-label">Motivo</label>
            <textarea class="form-control" id="motivo" name="motivo" required></textarea>
        </div>
        <div class="mb-3">
            <label for="arquivo" class="form-label">Arquivo do Atestado</label>
            <input type="file" class="form-control" id="arquivo" name="arquivo" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
        <a href="Espera.html">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </a>        
    </form>
</div>

<script>
    // Validação de formulário do Bootstrap
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
