<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <title>Administrador Scrum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
  </head>
  <body>
    <header>
      <a class="link-home" href="/"><img src="../static/assets/Home.png" /></a>
      <div class="header_scrum">
        <h2>Scrum</h2>
      </div>
    </header>
    <main class="main-gerenciamento">
      <nav>
        <h1>Gerenciamento de Equipes</h1>
        <button id="btn_equipe">Cadastro Equipe</button>
        <dialog id="cadastro_modal"></dialog>

     

      

  
      