<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gestão de Atestados</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
  </head>
  <body>
    <header>
      <a class="link-home" href="/"><img src="../static/assets/Home.png" /></a>
      <div class="links_header">
        <a href="#">Gestão de Atestados</a>
      </div>
    </header>

    <h2>Histórico de Atestados</h2>

    <main class="gestao-main">
      <table>
        <thead>
          <tr>
            <th>Validade</th>
            <th>Nome do Aluno</th>
            <th>Status</th>
            <th>Arquivo</th>
          </tr>
        </thead>
        <tbody>
          {% for atestado in atestados %}
          <tr>
            <td>{{ atestado['Data Final'] }}</td>
            <td>{{ atestado['Nome'] }}</td>
            <td>{{ atestado['Status'] }}</td>
            <td>
              <button class="visualizar-button" id="{{atestado['Arquivo']}}"> Visualizar </button>
            </td>
            <!-- Coloquei o "{{atestado['Arquivo'] }}" para mostrar a rota do arquivo respectivo, favor tirar e deixar só o "Vizualizar""-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <section id="modal" class="pdf-modal">
        <img onclick="closeModal()" class="close_button" src="../static/assets/close.png" alt="Botão Fechar"/>
        <div class="modal-content">
          <div class="pdf-container">
            <iframe id="iframe-pdf" class="pdf-viewer" src="" title="Visualizador de PDF"></iframe>
          </div>
          <div class="modal-actions">
            <button type="button" class="status-button" id="Aprovado"> Aprovar </button>
            <button type="button" class="status-button" id="Reprovado"> Reprovar </button>
          </div>
        </div>
      </section>
    </main>

    <script src="../static/scripts/index.js"></script>
  </body>
</html>
