<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gestão de Atestados</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/style.css')}}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />

    <!-- CSS bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/newheader.css" />
  </head>

  <!-- script bootstrap-->
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"
  ></script>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a class="link-home" href="/">
            <img
              style="width: 50px !important"
              src="../static/assets/Home.png"
            />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#myNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="myNav" class="collapse navbar-collapse">
            <ul style="text-align: center" class="navbar-nav">
              <li>
                <div class="links_header">
                  <a href="#">Gestão de Atestados</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <nav class="nav-espera">
      <h2>Histórico de Atestados</h2>
    </nav>

    <main class="gestao-main">
      <table>
        <thead>
          <tr>
            <th>Validade</th>
            <th>Nome do Aluno</th>
            <th>Status</th>
            <th>Motivo</th>
            <th>Arquivo</th>
          </tr>
        </thead>
        <tbody>
          {% for atestado in atestados %}
          <tr>
            <td>{{ atestado['Data Final'] }}</td>
            <td>{{ atestado['Nome'] }}</td>
            <td>{{ atestado['Status'] }}</td>
            <td class="coluna_motivo">{{atestado['Motivo']}}</td>
            <td>
              <button class="visualizar-button" id="{{atestado['Arquivo']}}">
                Visualizar
              </button>
            </td>
            <!-- Coloquei o "{{atestado['Arquivo'] }}" para mostrar a rota do arquivo respectivo, favor tirar e deixar só o "Vizualizar""-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <section id="modalIframe" class="pdf-modal">
        <img
          id="closeIframe"
          class="close_button"
          src="../static/assets/close.png"
          alt="Botão Fechar"
        />
        <div class="modal-content">
          <div class="pdf-container">
            <iframe
              id="iframe-pdf"
              class="pdf-viewer"
              src=""
              title="Visualizador de PDF"
            ></iframe>
          </div>
          <div class="modal-actions">
            <button type="button" class="status-button" id="Aprovado">
              Aprovar
            </button>
            <button type="button" class="status-button" id="Reprovado">
              Reprovar
            </button>
          </div>
        </div>
      </section>
    </main>

    <script type="module" src="../static/scripts/index.js"></script>
  </body>
</html>
