
<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-br">
    <meta charset="UTF-8" />
    <title> Administrador Scrum </title>
    <link rel="stylesheet" href='/static/css/Admscrum.css' />
    <link rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
  </head>
  <body>
    <header>
      <a class="link-home" href="/"><img src="/static/assets/Home.png" /></a>
      <div class="links_header">
        <a href="#">Scrum</a>
      </div>
    </header>
    <main>
        <section class="Avaliação">
            <h2> Avaliação da Equipe:</h2>
            <select name="Equipe" id="teamselection">
              <optgroup label="Team">
                <option value="" selected> Selecione a equipe </option>
                <option value="DevForge"> DevForge </option>
              </optgroup>
            </select>
        </section>
        <section class="Avaliação2">
          <div id="Avaliação2">
            <h3> Escolha o avaliador: </h3>
            <select name="Avaliadores" id="Avaliador">
              <optgroup label="Avaliador">
                <option value="" selected> Selecione o avaliador </option>
                <option value="evaluator1"> Breno Reis </option>
                <option value="evaluator2"> Lucas Silva</option>
                <option value="evaluator3"> Emmanuel Garakis </option>  
                <option value="evaluator4"> Gustavo Zago de Lima </option>
                <option value="evaluator5"> Daniel Dias Pereira</option>
                <option value="evaluator6"> Eloá Ramos</option>
                <option value="evaluator7"> Marya Vitória Garcia </option>
              </optgroup>
            </select> 
          </div>
          <div id="Avaliação3">
            <h3> Integrante avaliado:</h3>
            <select name="Avaliados" id="Avaliado">
              <optgroup label="Avaliado">
                <option value="" selected> Selecione o avaliado </option>
                <option value="member1"> Breno Reis </option>
                <option value="member2"> Lucas Silva</option>
                <option value="member3"> Emmanuel Garakis </option>
                <option value="member4"> Gustavo Zago de Lima </option>
                <option value="member5"> Daniel Dias Pereira</option>
                <option value="member6"> Eloá Ramos</option>
                <option value="member7"> Marya Vitória Garcia </option>
              </optgroup>
            </select>
          </div>
        <article class="Artigo">
                <p> Em relação a proatividade, de 0 a 3 , qual seria a nota do integrante:</p>
        </article>
        <section class="Notas"> 
          <p class="Extremos"> Min</p>
          <button class="Nota"></button>
          <button class="Meio"></button>
          <button class="Meio"></button>
          <button class="Nota"></button>
          <p class="Extremos"> Máx</p>
          
        </section>
        <footer class="Rodapé">
          <button class="Fimdapagina"> Anterior </button>
          <button class="Fimdapagina"> Próxima  </button>
        </footer>
    </main>
  </body>
</html>
