<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <title>Administrador Scrum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/assets/DevForgePNG.ico"
    />
  </head>
  <body class="ScrumBody">
    <header>
      <a class="link-home" href="/"><img src="../static/assets/Home.png" /></a>
      <div class="links_header">
        <a href="#">Scrum</a>
      </div>
    </header>
    <main class="main-avaliacao">
      <section class="Avaliação">
        <h2>Avaliação da Equipe:</h2>
        <select name="Equipe" id="teamselection">
          <optgroup label="Team">
            <option value="None" disabled selected>Selecione a equipe</option>
            {% for nome in equipes %}
            <option value="{{ nome }}">{{ nome }}</option>
            {% endfor %}
          </optgroup>
        </select> 
      </section>

      <section class="Avaliação2">
        <div id="Avaliação2">
          <h3>Escolha o avaliador:</h3>
          <select name="Avaliadores" id="Avaliador">
            <optgroup label="Avaliador">
              <option value="None" disabled selected>
                Selecione o integrante
              </option>
            </optgroup>
          </select>
        </div>

        <div id="Avaliação3">
          <h3>Integrante avaliado:</h3>
          <select name="Avaliados" id="Avaliado">
            <optgroup label="Avaliado">
              <option value="None" disabled selected>
                Selecione o integrante
              </option>
            </optgroup>
          </select>
        </div>
      </section>

      <section class="notas-slide">
        <section class="title-Pergunta">
          <p>
            Em relação a <span id="tipoAvalicao">Proatividade</span>, de 0 a 3 ,
            qual seria a nota do integrante:
          </p>
        </section>

        <section class="carrosel-container">
          <section class="carrosel-wrapper">
            <section class="Notas produtividade ativo">
              <p class="Extremos">Min</p>
              <button
                class="Nota btnAvalia"
                data-nota="0"
                title="Nota 0"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="1"
                title="Nota 1"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="2"
                title="Nota 2"
              ></button>
              <button
                class="Nota btnAvalia"
                data-nota="3"
                title="Nota 3"
              ></button>
              <p class="Extremos">Máx</p>
            </section>

            <section class="Notas autonomia">
              <p class="Extremos">Min</p>
              <button
                class="Nota btnAvalia"
                data-nota="0"
                title="Nota 0"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="1"
                title="Nota 1"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="2"
                title="Nota 2"
              ></button>
              <button
                class="Nota btnAvalia"
                data-nota="3"
                title="Nota 3"
              ></button>
              <p class="Extremos">Máx</p>
            </section>

            <section class="Notas cooperação">
              <p class="Extremos">Min</p>
              <button
                class="Nota btnAvalia"
                data-nota="0"
                title="Nota 0"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="1"
                title="Nota 1"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="2"
                title="Nota 2"
              ></button>
              <button
                class="Nota btnAvalia"
                data-nota="3"
                title="Nota 3"
              ></button>
              <p class="Extremos">Máx</p>
            </section>

            <section class="Notas entrega">
              <p class="Extremos">Min</p>
              <button
                class="Nota btnAvalia"
                data-nota="0"
                title="Nota 0"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="1"
                title="Nota 1"
              ></button>
              <button
                class="Meio btnAvalia"
                data-nota="2"
                title="Nota 2"
              ></button>
              <button
                class="Nota btnAvalia"
                data-nota="3"
                title="Nota 3"
              ></button>
              <p class="Extremos">Máx</p>
            </section>
          </section>
        </section>

        <section class="controles">
          <button class="Fimdapagina" id="anterior">Anterior</button>
          <button class="Fimdapagina" id="proximo">Próxima</button>
        </section>
      </section>
    </main>

    <aside class="mensagem-aside">
      <h1>Avalição Fechada</h1>
      <p>
        A avaliação dessa equipe não se encontra disponivel, fale com seu
        administrador de equipes scrum
      </p>
    </aside>
  </body>

  <script src="/static/scripts/avaliacao.js"></script>
</html>
