.ScrumBody {
  background-color: var(--off-white);
}

/* .main-avaliacao > section:not(:first-child) {
  display: none;
} */

.Avaliação {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #393f50;
  color: #f2eee7;
  padding: 15px;
  font-family: var(--font-principal);
  font-weight: bold;
  gap: 10px;
}

.Avaliação2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393f50;
  color: #f2eee7;
  margin-top: 10px;
}

#Avaliação2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#Avaliação3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mensagem-aside {
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 5%;

  text-align: center;
  color: var(--off-white);
  background-color: var(--azul-base);
  border-radius: var(--border-radius);
}

.title-Pergunta {
  background-color: #393f50;
  color: #f2eee7;
  font-size: 20px;
  font-family: var(--font-principal);
  font-weight: bold;
  padding: 18px;
  text-align: center;
  margin-top: 10px;
}

.title-Pergunta p {
  font-size: 20px;
  font-weight: bold;
}

.carrosel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carrosel-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.Notas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  font-family: var(--font-principal);
  font-weight: bold;
  color: black;
  padding: 50px;
}

.controles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  gap: 50px;
}

#teamselection {
  background-color: #c2bfbb;
  color: #393f50;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 15px;
  width: 230px;
  cursor: pointer;
}

#Avaliado {
  background-color: #c2bfbb;
  color: #393f50;
  border: none;
  border-radius: 10px;
  width: 230px;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

#Avaliador {
  background-color: #c2bfbb;
  color: #393f50;
  border: none;
  border-radius: 10px;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  width: 250px;
  cursor: pointer;
}

.Extremos {
  color: var(--azul-base);
  font-family: var(--font-principal);
  font-size: 20px;
  font-weight: bold;
}

.Nota {
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

.Meio {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

.Fimdapagina {
  background-color: var(--azul-base);
  color: var(--off-white);
  border: none;
  border-radius: 10px;
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}

.btnAvalia {
  background-color: var(--off-white-cinza);
  transition: background-color 0.5s ease;
}

.selecionado {
  background-color: var(--laranja-queimado);
}

.ativo {
  display: flex;
}

.desativado {
  display: none;
}

.alinhar {
  text-align: right;
}
