:root {
    --azul-base: #393f50;
    --off-white: #f2eee7;
    --off-white-cinza: #c2bfbb;
    --laranja-queimado: #e07a5f;
    --font-principal: "Rowdies", monospace;
    --border-radius: 25px;
    --borda-laranja: 5px;
  }

#meuModal{
    /* color: aqua; */
    background-color: #393f50;
    border-radius: calc(var(--border-radius) - 10px);
    border-color: #393f50;
    font-family: var(--font-principal), monospace;
    color: var(--off-white);
}

input{
    background-color: var(--off-white);
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

.input1{
    display: flex;
    flex-direction: row;
}

.labelInputNome{
    margin-right: 5px;
}

.labelInputFunc{
    margin-left: 5px;
}

.submitBtn{
    font-family: var(--font-principal), monospace;
    display: block;
    margin: auto;
    color: #393f50;
    padding: 10px;
}

.submitBtn:hover{
    background-color: var(--off-white-cinza);
}