:root {
  --azul-base: #393f50;
  --off-white: #f2eee7;
  --off-white-cinza: #c2bfbb;
  --laranja-queimado: #e07a5f;
  --font-principal: "Rowdies", monospace;
  --border-radius: 25px;
  --borda-laranja: 5px;
}

.modalCadastro {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;

  background-color: #393f50;
  color: var(--off-white);
  border-color: #393f50;
  border-radius: calc(var(--border-radius) - 10px);
  font-family: var(--font-principal), monospace;
  box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
}

.inputNomeN {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputNomeN > div {
  display: flex;
  flex-direction: column;
}

.no-spinBox::-webkit-outer-spin-button,
.no-spinBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  background-color: var(--off-white);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-family: var(--font-principal), monospace;
  color: var(--azul-base);
}

.input1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input1 > section {
  display: flex;
}

.labelInputNome {
  margin-right: 5px;
}

.labelInputFunc {
  margin-left: 5px;
}

.submitBtnCadastro {
  font-family: var(--font-principal), monospace;
  display: block;
  margin: auto;
  color: #393f50;
  padding: 10px;
}

.submitBtnCadastro:hover {
  background-color: var(--off-white-cinza);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 20px;
}

.card-equipe {
  display: flex;
  flex-direction: column;
  background-color: #373d51;
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-equipe h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.card-equipe ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.card-equipe ul li {
  margin: 5px 0;
}

.card-equipe form {
  margin-top: auto;
}

.btn-fechar {
  background-color: #e7e0d6;
  color: #373d51;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 10px auto 0;
}

.btn-fechar:hover {
  background-color: #d1c7ba;
}
.btn-fechar {
  background-color: white;
  color: #373d51;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.btn-fechar:hover {
  background-color: #f57453;
}

.btn-avaliar {
  background-color: white;
  color: #373d51;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.btn-avaliar:hover {
  background-color: #f57453;
}
