:root {
  --azul-base: #393f50;
  --off-white: #f2eee7;
  --off-white-cinza: #c2bfbb;
  --font-principal: "Rowdies", sans-serif;
  --border-radius: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-principal);
}

body {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--azul-base);
  color: var(--off-white);
  border-bottom: 2px solid tomato;
}

header img {
  width: 100px;
  height: 55px;
}

.links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%; 
}

.links_header a{
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--off-white);
  text-decoration: none;
}

.links_header a:hover {
  color: var(--off-white-cinza);
}

h2 {
  background-color: hsl(224, 17%, 27%);
  color: white;
  padding: 20px;
  font-size: 25px;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 25px;
  text-align: center;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid var(--azul-base);
}

th {
  background-color: var(--azul-base);
  color: var(--off-white);
  font-weight: bold;
}

button {
  background: none;
  border: none;
  color: var(--azul-base);
  font-size: 25px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: var(--border-radius);
  border: 2px solid var(--azul-base);
}

button:hover {
  background-color: var(--off-white-cinza);
}