body {
  background-color: white;
}

h2 {
  background-color: hsl(224, 17%, 27%);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-shadow: 1px 1px 14px black;
}

.gestao-main {
  padding: 20px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 25px;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid var(--azul-base);
}

th {
  background-color: var(--azul-base);
  color: var(--off-white);
  font-weight: bold;
  text-shadow: 1px 1px 14px black;
}

.visualizar-button {
  background: none;
  border: none;
  color: var(--azul-base);
  font-size: 25px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: var(--border-radius);
  border: 2px solid var(--azul-base);
  box-shadow: 1px 1px 10px;
}

.visualizar-button:hover {
  background-color: var(--off-white-cinza);
}
