header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 8%;
  padding: 10px;

  border-bottom: solid var(--borda-laranja) var(--laranja-queimado);
  background-color: var(--azul-base);
}

.link-home {
  position: absolute;
}

.link-home > img {
  width: 55px;
  height: 55px;
}

.links_header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.links_header a,
.links_header button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font: normal 900 1.3rem var(--font-principal);
  color: var(--off-white);
}

.links_header a:hover,
.links_header button:hover {
  color: var(--off-white-cinza);
}
